<h2>Student Information Form</h2>
<form action="/submit" method="POST">
  <label>Name: <input type="text" name="name" required /></label><br><br>
  <label>Age: <input type="number" name="age" required /></label><br><br>
  <label>Email: <input type="email" name="email" required /></label><br><br>
  <label>Department: <input type="text" name="department" required /></label><br><br>
  <button type="submit">Submit</button>
</form>
